<br>
    <center>
    <div class="card" style="background-color:#f5f5f5;">
    <br>
    
    
<?php 
    $a = getRol($user);
    if($a=='Administrador'){
        http_response_code(404);
        include("_my_404.html");
        die();
    }else{
        getCuenta($user);
    }

    
?>

    </div>
    </center>
