<br>
          <section class="jumbotron text-center">

        <div class="container">

          <h1 class="jumbotron-heading" style="font-size: 5rem;"><strong>MODERNUS</strong></h1>

        </div>

      </section>



      <div class="album py-5 bg-light">

        <div class="container">



          <div class="row">

            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <img class="card-img-top" src="/Lab 17/img/fondo.jpg" alt="Card image cap">

                <div class="card-body">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                    </div>

                    <small class="text-muted">9 mins</small>

                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <img class="card-img-top" src="/Lab 17/img/LoL.jpg" alt="Card image cap">

                <div class="card-body">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                    </div>

                    <small class="text-muted">9 mins</small>

                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <img class="card-img-top" src="/Lab 17/img/ssb4.jpg" alt="Card image cap">

                <div class="card-body">

                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                    </div>

                    <small class="text-muted">9 mins</small>

                  </div>

                </div>

              </div>

            </div>
            
            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <div class="card-body">

                  <h5 class="card-text">¿En qué consiste el acceso basado en roles?</h5>
                  <p>Respuesta: El control de acceso basado en roles (RBAC) es una función de seguridad para controlar el acceso de los usuarios a tareas que normalmente estarían restringidas al rol raíz. Al aplicar atributos de seguridad a los procesos y a los usuarios, RBAC puede dividir las capacidades de superusuario entre varios administradores. La gestión de los derechos del proceso se implementa a través de privilegios. La administración de los derechos de usuario se implementa a través de RBAC.
</p>

                  </div>

              </div>

            </div>
            
            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <div class="card-body">

                  <h5 class="card-text">Investiga y describe 6 sistemas, 3 conocidos que empleen RBAC y 3 desconocidos que no, junto con su funcionamiento general.</h5>
                  <p>Respuesta: 3 sistemas que lo emplean:
Microsoft Azure: 
Cada suscripción de Azure está asociada a un directorio de Azure Active Directory (AD). Los usuarios, grupos y aplicaciones de ese directorio pueden administrar recursos en la suscripción de Azure. Asigne estos derechos de acceso utilizando Azure Portal, las herramientas de línea de comandos de Azure y las API de administración de Azure.

Otorgue acceso asignando el rol de RBAC apropiado a usuarios, grupos y aplicaciones en un cierto alcance. El alcance de una asignación de roles puede ser una suscripción, un grupo de recursos o un único recurso. Un rol asignado en un alcance principal también otorga acceso a los niños contenidos en él. Por ejemplo, un usuario con acceso a un grupo de recursos puede administrar todos los recursos que contiene, como sitios web, máquinas virtuales y subredes.


SELinux: SELinux utiliza el control de acceso basado en roles (RBAC). Esta característica permite a los usuarios de SELinux estar asociados a uno o más roles, donde cada rol se asocia a uno o más tipos de dominio como se muestra en el diagrama de control de acceso basado en roles.

El rol de SELinux es el segundo componente de un 'contexto de seguridad' y por convención los roles de SELinux terminan en '_r'; sin embargo, esto no se aplica por ningún servicio de SELinux (es decir, solo se usa para identificar el componente de rol), aunque CIL con namespaces facilita la identificación de un rol; por ejemplo, un 'role' podría declararse como unconfined.role.

Es posible agregar restricciones y límites a los roles como se discutió en la sección de Aplicación de tipos.

Solaris:
Solaris es un sistema operativo Unix desarrollado originalmente por Sun Microsystems. Reemplazó a su anterior SunOS en 1993. En 2010, después de la adquisición de Sun por Oracle, pasó a llamarse Oracle Solaris.

Solaris es conocido por su escalabilidad, especialmente en sistemas SPARC, y por crear muchas características innovadoras como DTrace, ZFS y Time Slider. Solaris admite estaciones de trabajo SPARC y x86-64 y servidores de Oracle y otros proveedores. Solaris está registrado como compatible con la especificación única de UNIX.

</p>

                  </div>

              </div>

            </div>
            
            <div class="col-md-4">

              <div class="card mb-4 box-shadow">

                <div class="card-body">

                  <h5 class="card-text">Beneficios y desventajas de este modelo.</h5>
                  <p>Respuesta: Brinda visibilidad que se necesita para respaldar de manera segura su movilidad en el entorno inalámbrico. El control de acceso basado en roles asegura que sus usuarios e invitados tengan lo que necesitan y nada más. Se mantiene seguros a los usuarios y a la red . Hay algunas mejoras de rendimiento cuando se hace control de acceso basado en roles. Al introducir el control de acceso basado en roles en su red, porque estamos negando aplicaciones o servicios adicionales y el tráfico en el punto de entrada a su red, recuperará un ancho de banda.
La principal desventaja de RBAC es lo que con mayor frecuencia se denomina "explosión de roles": debido al creciente número de roles diferentes (del mundo real) (a veces las diferencias son solo menores) se necesita un número creciente de funciones (RBAC) para encapsular adecuadamente los permisos (un permiso en RBAC es una acción / operación en un objeto / entidad). Administrar todos esos roles puede convertirse en un asunto complejo.
</p>

                  </div>

              </div>

            </div>