 
 <br><br>
  <center>
  <div class="card" style="width:50%; background-color: #f5f5f5;" >
    <div class="card-body" style="width: 50%;">
    <form class="form-signin" method="post" action="login.php">
      <div class="text-center mb-4">
        <img class="mb-4" src="img/icono.png" alt="" width="95" height="95">
        <h1>Casino Modernus</h1>
        <h2 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h2>
        <?php if (isset($_SESSION["error"]) != ""): ?>
        <div class="alert alert-warning" role="alert">
          <?=$_SESSION["error"] ?>
        </div>
      <?php endif; ?>
      </div>

      <div class="form-label-group">
        <input type="text" id="usuario" class="form-control" name="usuario" placeholder="Usuario" autocomplete="off" required autofocus>
      </div>
      <br>
      <div class="form-label-group">
        <input type="password" id="contraseña" class="form-control" name="contraseña" placeholder="Contraseña" required>
      </div>
      <br>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuerdame
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy;2018</p>
    </form>
    </div>
  </div>
  </center>