<br>
    <center>
    <div class="card" style="background-color:#f5f5f5;">
    <br>
    
    
<?php
    $a = getRol($user);
    if($a=='Administrador'){
        getPersonalHabilitado();
    }else{
        echo "nel";
    }


?>

    </div>
    </center>
