#caja,body{background-image: url("acdc.jpg");}#caja{width:200px;border:1px solid #fff;margin:auto}#preguntas{color:#ff0;font-weight:: 700}h1,h2,h3,h5{color:#fff} h1,h5{text-align:center} p{color:#fff}