
<form class="ui form" action="save.php" method ="post">
  <?php if(isset($kit)): ?>
            <input name="id" id="id" type="hidden" value="<?=$kit["id"];?>">
        <?php endif; ?>
  <div class="three fields">
    <div class="field">
      <label>Color</label>
      <input type="text" placeholder="Pink" name="color" id="color" required value="<?php if(isset($kit)) echo $kit["color"] ?>">
    </div>
    <div class="field">
      <label>Price</label>
      <input type="text" placeholder="$100" name="price" id="price" required value="<?php if(isset($kit)) echo $kit["price"] ?>">
    </div>
    <div class="field">
      <label>Club</label>
      <input type="text" onkeypress="sendRequest()" placeholder="Juventus" name="club" id="club" required value="<?php if(isset($kit)) echo $kit["club"] ?>">
    </div>
  </div>
  <button type="submit" class="ui <?php if(isset($kit)): ?>blue<?php else: ?>green<?php endif;?> right floated icon button">
    <?php if(isset($kit)): ?>Edit<?php else: ?>New<?php endif;?>
  <i class="plus icon"></i>
  </button>
</form>
