<div class="ui piled segment">



  <form action="nuevo.php" method="post">
  <button type="submit" class="ui circular green right floated icon button">
  <i class="plus icon"></i>
  </button>
  </form>

  <h2 class="ui header"> Info </h2>

  <h5 class="ui header">First we get all the kits in the Data Base</h5>
  <?php getKits() ?>

  <h5 class="ui header">Secondly we get all kits that are White</h5>
  <?php getKitbyColor("WHITE") ?>

  <h5 class="ui header">Finaly we get all kits that are under 90 dollars</h5>
  <?php getCheapestKits("90") ?>

</div>



<div id="divt">
  <table class="ui table" id="tabl">
    <tr>
      <th>Pregunta</th>
      <th>respuesta</th>
    </tr>
    <tr>
      <td>Diagrama</td>
      <td><img src="dg.png" alt=""></td>

    </tr>
    <tr>
      <td>¿Qué alternativas a jQuery existen?</td>
      <td><strong>Backbone JS, Node JS, Angular JS,  Sprint JS, entre otras </strong></td>
    </tr>
  </table>
</div>

</div>
