.ui.block.header{

  text-align: center;

}
.ui.form{

  padding: 15px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  background-color: white;
}

.ui.form, .ui.block.header{
  box-shadow: 0px 0px 5px black;
}

#divt{

  padding: 10px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  background-color: white;
}
#tabl{
  padding: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
#del{
  color: red;
}

}
th{
  background-color: rgb(153, 165, 168);
  color: white;
}

body{
  background-color: rgb(64, 115, 121);
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
