
body {

  font-size: .875rem;

}

/*

 * Navbar

 */



.navbar-brand {

  padding-top: 1rem;

  padding-bottom: 1rem;

  font-size: 1.5rem;

  background-color: rgba(0, 0, 0, .25);

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);

}



/*

 * Utilities

 */



.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }