<br>
    <center>
    <div class="card" style="background-color:#f5f5f5;">
    <br>
    
    
<?php

    if($a=='Administrador'){
        getTransactionsFull();
    }else{
        getTransactions($user);
    }


?>

    </div>
    </center>
