    </div>
  
  </main>

    <!-- Bootstrap core JavaScript

    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>

    <script src="/js/popper.min.js"></script>

    <!-- Icons -->

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <script>

      feather.replace()

    </script>



    <!-- Graphs -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script>

      var ctx = document.getElementById("myChart");

      var myChart = new Chart(ctx, {

        type: 'line',

        data: {

          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],

          datasets: [{

            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],

            lineTension: 0,

            backgroundColor: 'transparent',

            borderColor: '#007bff',

            borderWidth: 4,

            pointBackgroundColor: '#007bff'

          }]

        },

        options: {

          scales: {

            yAxes: [{

              ticks: {

                beginAtZero: false

              }

            }]

          },

          legend: {

            display: false,

          }

        }

      });

    </script>   
       
       
        <!--Import jQuery before materialize.js-->
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <!--<script src="js/popper.min.js"></script>-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/additional-methods.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      
      $(function () {
      $('[data-toggle="popover"]').popover()
      })
      
      $(function () {
      $('.nav-popover').popover({
        container: 'nav'
      })
      })
      
      $('.popover-dismiss').popover({
      trigger: 'focus'
      })
      
      $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'))
      });;
      
    </script>
    </body>
</html>