#Cuestionario,#Descripciones,#Investigacion,#InvestigacionLab3,#Referencias,article{text-align:justify}#Informacion,#Sobremi,#imagen1,#imagen2,#imagen3,#imagen4,h1,h2,h3,header{text-align:center}body{background-color:#fff}header{margin-top:0;font-size:25px}table{margin-left:auto;margin-right:auto;border-spacing:20px}a{color:#000}td{border-bottom:3px solid;border-top:3px solid;border-left:3px solid;border-right:3px solid;background-color:#CCC;border-color:#000}h1,h2,h3{font-size:30px}article{background-color:#99E2E5;font-size:20px}#Sobremi{background-color:gray}#Descripciones{background-color:#98FB98}#Cuestionario{background-color:#B0E0E6}#Investigacion{background-color:#FFE4E1}#InvestigacionLab3{background-color:orange}#Referencias{background-color:orchid}#Informacion{background-color:#DCDCDC}
	body:after {
  content: "Lab 6"; 
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#div1 {
    width: 332px;
    height: 77px;
    padding: 12px;
    border: 2px solid #aaaaaa;
}